body{ 
    background-color: rgb(8, 153, 153);
    text-align: center;
    color: black;
}
button{
    border-color: black;
    border-style: outset;
    border-radius: 7px;
    text-decoration: solid;
}   

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}